<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blackbox Generator</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/materialize.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/blackbox.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
    <script type="text/javascript" src="/scripts/materialize.js"></script>
  </head>
  <body>