<%- include("./partials/header")%> 

    <div>
      <h1>Your <br> ingredients <br> are:</h1>
    </div>
    <div>
<% ingredients.forEach(function(ingredient){%>
    <div>
      <a href="<%=ingredient._id%>"><%=ingredient.item%></a>
    </div>
<% }) %> 
      
    </div>
    <br>
  
  <div>
    <span id="message">Yikes.</span>
  </div>
  <br>
  <button>Try again</button>
    
  
   <!-- <script src="scripts/blackbox.js"></script>  -->
  </body>
  </html>