<%- include("./partials/header")%> 

    <div>
      <h1>Your <br> ingredients <br> are:</h1>
    </div>
    <div>
      <% ingredients.forEach(function(ingredient){%>
      <div>
        <a href="<%=ingredient._id%>"><%=ingredient.item%></a>
      </div>
      <% }) %> 
    </div>
    <div>
      <%message.forEach(function(message){%> 
        <div>
          <%= message.text %> 
        </div>
      <%})%>
    </div>
  <div>
    <span id="message"></span>
  </div>
  <br>
  <button>Try again</button>
  </body>
  </html>