<%- include("./partials/header")%> 
<div class="container">
  <div class="section">
      <div class="valign-wrapper section">
        <div class="container item">
          <h1>Did I forget something?</h1>
          <form action="/" method="POST">
            <input type="text" name="item" placeholder="Ingredient" required>
            <div class="input-field">
              <textarea id="description" name="description" class="materialize-textarea"></textarea>
              <label for="description">Tell me about it.</label>
            </div>
            <a href="javascript:history.back()" class="btn-floating btn-flat btn-large waves-effect waves-light red"><i class="material-icons">arrow_back</i></a>
            <button class="btn-floating btn-flat btn-large waves-effect red"><i class="material-icons">add</i></button>
          </form> 
        </div>
      </div>
  </div>
</div>

<%- include("./partials/footer") %> 

  
