h1{
  text-transform: uppercase;
  font-family: 'Secular One', sans-serif;
  padding-bottom: 0rem;
}
h4 a{
  text-transform: uppercase;
  font-family: 'Secular One', sans-serif;
  color: black;
}

.row{
 margin: 0;
}

.toprow{
  border-left: 4px dashed black;
  border-bottom: 4px dashed black;
  padding: 10px;
  margin: 0;
}
.item{
  border-left: 4px dashed black;
  border-bottom: 4px dashed black;
  padding: 3em 3em 0 3em;
}
.item-alt{
  border-right: 4px dashed black;
  border-top: 4px dashed black;
  padding: 3em 1em 0em 3em;
}
.midrow{
  border-right: 4px dashed black;
  border-bottom: 4px dashed black;
  padding: 10px;
}
.bottomrow{
  border-left: 4px dashed black;
  padding: 0 0 0 10%;
  margin: 0;
  width: 100%;
}
h4 span{
opacity: 0;
transition: 100ms linear;
}
h4:hover span{
opacity: 100%;
}
span form{
  display: inline;
}

.show-text{
  white-space: pre-wrap;
}